<%- include('partials/header') -%>
<!--Note to self: This is the main page, use this as inspiration for style https://themewagon.com/themes/yummy-red/-->
  <!-- Hero Section -->
  <!--<header class ="bg-danger text-white py-3 px-4">

    <div class="container d-flex justify-content-between align-items-center">
          <h1 class="h3 m-0 fw-bold">Pots & Pans</h1>
          <p>In 2020, we banged our Pots & Pans. Restaurants sent meals in gratitude. That spirit brought us together — and #itDoesNotHaveToEnd.
        </div>
      
      </header>

  </section>-- /Hero Section, note to self, this is good for me  --> 
<br></br>
<div class = "container">
  <div class = "d-flex justify-content-center">
   
    <p class = "h1">About Us</p>
   </div>
   <div class = "d-flex justify-content-center">
    <p class="h5 mb-2">Born from the generosity shown during the pandemic, Pots and Pans makes it easy for restaurants to give back. With just a tap, they can post what they’re donating and when they’ll deliver—no calls needed. Hospitals and first responders admins log in, and see what's headed your way.

<strong>Simple. Direct. Gratitude.</strong></p>
   </div>

 <!-- <h1>How it works:</h1>-->
   <!--<div class = "d-flex justify-content-center">
  <div class="embed-responsive embed-responsive-16by9 text-align-center">
  <iframe src="https://share.tmz.com/watch/040420-nyc-pans-4763836-0-m9k80nso/" width="560" height="395" frameBorder="0" allowFullScreen></iframe>
</div>
</div>-->
<br></br>

  <div class = "d-flex justify-content-center">
    <div class = "circle rounded-circle mx-5 d-flex justify-content-center align-items-center h6">1. Sign Up</div>
     <div class = "circle rounded-circle mx-5 d-flex justify-content-center align-items-center h6">2. Donate / View</div>
      <div class = "circle rounded-circle mx-5 d-flex justify-content-center align-items-center h6">3.Enjoy gratitude!</div>

  </div>
</div>



<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-danger">Log In</a>
        <a href="/signup" class="col-3 btn btn-danger"> Create an Account</a>
    </div>
</main>
    

<%- include('partials/footer') -%>
