<!--Note: Using this repo : https://github.com/dikshapadi/Too-Good-To-Go/blob/main/views/auth/login.ejs as a guide to understand how to setup project-->
<!--Note: Using https://getbootstrap.com/docs/5.1/content/typography/ to help with styling-->
<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
             <!-- <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>-->
              <a href="/logout" class="btn btn-danger float-end">Logout</a>
          </div>
          <div class="container">
             <div class="page-header text-center">
               <p class="h2">Thank you for supporting our frontline workers.</p>
               <!--<p class="text-end small">#itDoesNotHaveToEnd</p>-->
             </div>
<!--Note to self: I would like to adjust form to fit page-->
          <div class="mt-5">
            <h2>Donate</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="item" class="form-label h5">Hospital Name</label>
                  <input type="text" class="form-control" id="item" name="org">
              </div>
              <div class="mb-3">
                  <label for="item" class="form-label h5">Item:</label>
                  <input type="text" class="form-control" id="item" name="item">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label h5">Item Description:</label>
                <textarea class="form-control" id="description" name="decription"></textarea>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label h5">Note:</label>
                <textarea class="form-control" id="description" name="note"></textarea>
              </div>
              <div class="mb-3">
                <label for="delivery" class="form-label h5">Delivery Date:</label>
                <input type ="date" id="delivery" name="deliveryDate">
              </div>
                <div class="mb-3">
                <label for="delivery" class="form-label h5">Delivery Time:</label>
                <input type ="time" id="delivery" name="deliveryTime">
              </div>
              <button type="submit" class="btn btn-danger d-block mx-auto" value="Upload">Donate</button>
            </form>
          </div>
      </div>
     
     
         <div class="col-6 mt-5">
      <!--<a class="btn btn-danger" href="/profile">Return to Profile</a>-->
      <a class="btn btn-danger" href="/feed">See Feed</a>
    </div>

        
<%- include('partials/footer') -%>

